@page "/archives"
@inject ArchivesPageViewModel ViewModel

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pa-0">
    <MudTabs>
        <MudTabPanel Icon="@Icons.Filled.Memory" Text="Technical">
            <div class="px-6">
                <ArchivesViewer Type="@BlogPostType.Technical"/>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Filled.NaturePeople" Text="Personal">
            <div class="px-6">
                <ArchivesViewer Type="@BlogPostType.Personal"/>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Filled.Grass" Text="Ramblings">
            <div class="px-6">
                <ArchivesViewer Type="@BlogPostType.Ramblings"/>
            </div>
        </MudTabPanel>
    </MudTabs>
</MudContainer>
<Footer/>