@page "/tags/{Tag?}"
@inject TagsPageViewModel ViewModel

@if (ViewModel.IsLoading)
{
}
else
{
    <MudContainer Class="mt-6" MaxWidth="MaxWidth.ExtraLarge">
        @if (Tag == "all")
        {
            <MudTextField @bind-Value="@ViewModel.SearchKeyword"
                           Label="Search"
                           Variant="Variant.Outlined"
                           Adornment="Adornment.End"
                           AdornmentIcon="@Icons.Filled.Search"/>

            <MudDivider Class="my-6"/>

            <div class="d-flex flex-wrap align-content-start">
                @foreach ((string tag, int count) in ViewModel.Tags)
                {
                    <MudChip Variant="Variant.Outlined" Link="@($"tags/{tag}")">
                        @tag ⨉ @count.ToString()
                    </MudChip>
                }
            </div>
        }
        else
        {
            <div class="d-flex flex-wrap">
                <MudText Typo="Typo.h4" Inline="true">Posts with tag </MudText>
                <MudText Typo="Typo.h3" Inline="true" Color="Color.Secondary">
                    「 @Tag 」
                </MudText>
            </div>

            <MudDivider Class="my-6"/>

            <MudGrid Justify="Justify.FlexStart">
                @foreach (var post in ViewModel.PostsWithCurrentTag(Tag))
                {
                    <MudItem xs="12">
                        <MudButton Class="pa-0 pa-xs-0 d-flex flex-row mud-elevation-2"
                                   Style="height: 25vh; text-transform: none; overflow: hidden;"
                                   Link="@post.Url">
                            <div class="pa-4 d-flex flex-column align-start" style="height: 25vh;">
                                <MudText Typo="Typo.h5" Color="Color.Primary">
                                    @post.Title
                                </MudText>
                                <MudText Class="mt-2">@post.Brief</MudText>

                                <div class="mt-auto d-flex flex-row align-center">
                                    <MudIcon Icon="@Icons.Filled.DateRange" Size="Size.Small"/>
                                    <MudText Class="ml-2" Typo="Typo.body2">@post.Date.ToString("dddd yyyy-MM-dd")</MudText>
                                </div>
                            </div>

                            <img src="@post.HeaderImagePath" class="ml-auto"
                                 style="height: 25vh; width: 60%; object-fit: cover"/>
                        </MudButton>
                    </MudItem>
                }
            </MudGrid>
        }
    </MudContainer>
}

@code
{
    [Parameter]
    public string Tag { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Tag ??= "all";
        await ViewModel.LoadAllTags();
    }
}