@page "/archives"
@using Nullkooland.Client.ViewModels.Pages
@inject ArchivesPageViewModel ViewModel

<PageTitle>@ViewModel.PageTitle</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pa-0">
    <MudTabs>
        <MudTabPanel Icon="@Icons.Material.Filled.Memory" Text="Technical">
            <div class="px-6">
                <Archives Type="@BlogPostType.Technical"/>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.NaturePeople" Text="Personal">
            <div class="px-6">
                <Archives Type="@BlogPostType.Personal"/>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Grass" Text="Ramblings">
            <div class="px-6">
                <Archives Type="@BlogPostType.Ramblings"/>
            </div>
        </MudTabPanel>
    </MudTabs>
</MudContainer>
<Footer/>