<style>
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }
    
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
</style>

<div class="mud-elevation-@Elevation @(Rounded ? "rounded" : "")"
     style="height: @Height;
            width: @Width;
            max-height: @MaxHeight;
            max-width: @MaxWidth;
            display: inline-flex;
            overflow: hidden;">

    @if (IsVideo)
    {
        <div class="video-wrapper"
             style="width: @Width; 
                    max-height: @MaxHeight;
                    max-width: @MaxWidth;">

            <iframe src="@Source"
                    loading="lazy"
                    frameborder="0"
                    allow="autoplay; encrypted-media; accelerometer; gyroscope; picture-in-picture;"
                    allowfullscreen>

            </iframe>
        </div>
    }
    else
    {
        <img src="@Source" alt="@Caption"
             loading="lazy"
             style="height: 100%; width: 100%; object-fit: @Fit"/>
    }

</div>

@code {

    [Parameter]
    public string Source { get; set; }

    [Parameter]
    public bool IsVideo { get; set; }

    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public int Elevation { get; set; } = 1;

    [Parameter]
    public bool Rounded { get; set; } = true;

    [Parameter]
    public string Height { get; set; } = "fit-content";

    [Parameter]
    public string MaxHeight { get; set; } = "100%";

    [Parameter]
    public string Width { get; set; } = "fit-content";

    [Parameter]
    public string MaxWidth { get; set; } = "100%";

    [Parameter]
    public string Fit { get; set; } = "cover";

}